<div class="con1">
    <div class="card">
        <div class="col">
            <p>Name:{{item.name}}<br>
            Phone:{{item.phone}}<br>
            Email:{{item.email}}<br>
            Reason:{{item.reason}}<br>
            Attendees:{{item.attendee}}</p>
           
        </div>
        <div class="col">
            <p>Date:{{item.date}}</p>
            <p>Start:{{item.startime}}</p>
            <p>End:{{item.endtime}}</p>
        </div>
        <div class="col1">
            <button id="btn1" (click)="accept()">Accept</button><br>
            <button id="btn2" (click)="decline()">Decline</button>
        </div>
    </div>
</div>