
  <footer class="footer">
      <app-contactcard></app-contactcard>
    <div class="container">

        <div class="row">    
            <div class="footer-col" id="company">
                <h4>MEDI-HUB</h4>
                <p> 
                    MEDI-HUB is an online portal for all your healthcare needs. 
                    Our team of medical experts are there for you 24X7 in every step from finding the right doctor and 
                    hospital to booking appointments, from providing verified information to any kind of medical assistance in between.
                </p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-col" id="services">
                <h4>Services</h4>
                <ul>
                    <li><a routerLink="/hospital">Hospitals</a></li>
                    <li><a routerLink="/doctors">Doctors</a></li>
                    <li><a routerLink="/appointment">Appointment</a></li>
                    <li><a href="#">Clinics</a></li>
                    <li><a href="#">Services</a></li>
                    
                </ul>
            </div>
            <div class="footer-col" id="links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a routerLink="/aboutus">About us</a></li>
                    <li><a routerLink="/contact">Contact us</a></li>
                    
                    
                </ul>
            </div>
            <div class="footer-col" id="subscribe">
                <h4>Subscribe for Free</h4>
                <input name="email" placeholder="Email" type="email" required="" id="ed"><br>
                <button type="button" id="sub">Subscribe</button>
                <p id="email-d">
                    Get The Latest Updates via email. Any time you may unsubscribe
                </p>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="mt-0 mb-3 mb-sm-0">
            <p class="mb-0">
                © Website
                <a  href="#">2022</a> 
                | All Rights Reserved 
            </p>
        </div>
        <ul>
            <li >
                <a href="#">Privacy</a>
            </li>
            <li >
                <a href="#">Terms</a>
            </li>
            <li >
                <a href="#">Sitemap</a>
            </li>
            <li >
                <a href="#">Help</a>
            </li>
        </ul>
    </div>
</footer>
