<mat-tab-group>
    <mat-tab label="Pending">
        <app-hu-application-item></app-hu-application-item> 
        <app-hu-application-item></app-hu-application-item>
        <app-hu-application-item></app-hu-application-item>
    </mat-tab>
    <mat-tab label="Accepted">
        <app-hu-application-item></app-hu-application-item>
        <app-hu-application-item></app-hu-application-item>
    </mat-tab>
    <mat-tab label="Declined">
        <app-hu-application-item></app-hu-application-item>
    </mat-tab>
  </mat-tab-group>
