<mat-tab-group>
    <mat-tab label="Pending">
       <div *ngFor="let item of pending">
            <app-hu-application-item  [item]="item"></app-hu-application-item> 
       </div>
    </mat-tab>
    <mat-tab label="Accepted">
        <div *ngFor="let item of accepted" >
            <app-hu-application-item [item]="item"></app-hu-application-item>
        </div>
    </mat-tab>
    <mat-tab  label="Declined">
        <div *ngFor="let item of denied" >
            <app-hu-application-item [item]="item"></app-hu-application-item>
        </div>       
    </mat-tab>
  </mat-tab-group>
