<div class="navbar">
    <div class="logo">
      <div id="name">MEDI-HUB</div>
    </div>
    <div *ngIf="islogged" class="menu-list">
      <a href="#" [routerLink]="['hu-app-list',hospname,docreg,patientid]">APPOINTMENTS</a>
      <a href="#" [routerLink]="['hu-detail-form',hospname,docreg,patientid]">DETAILS</a>
      <a href="#" [routerLink]=" ['hu-contact-form',hospname,docreg,patientid]">CONTACT</a>
      <a href="#" [routerLink]="['hu-profile',hospname,docreg,patientid]">PROFILE</a>
      <a (click)="signout()">LOGOUT</a>
    </div>
  </div>