<div class="con1">
          <div class="cat1">
            <div class="img1">
              <img src="https://img.freepik.com/free-vector/flat-woman-with-personal-financial-bill-payment-calendar_88138-935.jpg?w=1060&t=st=1663784038~exp=1663784638~hmac=e73b55cd512f71a2a61e901ce7abc54b79637f104c73832142c45bf9d7e652d9">
            </div>
            <div class="sub">
              <h3>Appoinments</h3>
              <div class="accordion" >
                  <div class="ques">
                    <input type="radio" name="example_accordion" id="section1" class="accordion__input">
                    <label for="section1" class="accordion__label">What will be waiting time for approval of Appointment request?</label>
                    <div class="accordion__content">
                      <p>The appointment request will be approved within 2hours at maximum, by the admin of respective hospitals and clinics.</p>
                    </div>
                  </div>
                  <div class="ques">
                    <input type="radio" name="example_accordion" id="section2" class="accordion__input">
                    <label for="section2" class="accordion__label">How do I cancel my Appointment?</label>
                    <div class="accordion__content">
                      <p>You can view your appointment in your profile , Cancel button will be available next to the respective appointment detail   </p>
                    </div>
                  </div>
                  <div class="ques">
                      <input type="radio" name="example_accordion" id="section3" class="accordion__input">
                      <label for="section3" class="accordion__label">Can I modify my appoinment date and timing?</label>
                      <div class="accordion__content">
                        <p>
                         Yes, The appointments can be view in profile and edit option will be available in every appoinment, Where you can modify timing and date according the available slots.
                        </p>
                      </div>
                  </div>
                  
              </div>
          </div>

          </div><br>
          <div class="cat2">
          <div class="img1">
            <img src="https://img.freepik.com/free-vector/hospital-service-concept-flat-illustration_1150-50287.jpg?w=996&t=st=1663784228~exp=1663784828~hmac=2eaaad9be485eda5ba194e8294014481386f7e21651507bdb5c76224d218ace2">
          </div>
          
          <div class="sub">
              <h3>Doctors  </h3>
              <div class="accordion">
                <div>
                  <input type="radio" name="example_accordion" id="section4" class="accordion__input">
                  <label for="section4" class="accordion__label">Is the doctor's infromation provided relaible?</label>
                  <div class="accordion__content">
                        <p>Yes, it is relaible. The provided information is collected from hospital organisation itself.</p>
                  </div>
                </div>
                <div>
                  <input type="radio" name="example_accordion" id="section5" class="accordion__input">
                  <label for="section5" class="accordion__label">Where to check a Doctor's free appointment slots? </label>
                  <div class="accordion__content">
                    
                    <p>
                      open doctor profile-> book appointment-> all the available slots will be visible.
                    </p>
                  </div>
                </div>
                
            </div>
          </div>
          <br>
          </div><br>

          <div class="cat3">
            <div class="img1">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFcuS_IU5eCoOlzKy9danGiy1R2ebkgOTkdA&usqp=CAU">
            </div>
            <div class="sub">
                <h3>Payments</h3>
              <div class="accordion">
                <div>
                  <input type="radio" name="example_accordion" id="section8" class="accordion__input">
                  <label for="section8" class="accordion__label">Facing issues in payment with my order</label>
                  <div class="accordion__content">
                        <p>
                          Your order will be placed and processed, irrespective of the online payment confirmation. In case of any unsuccessful payment/s, you can retry the payment or pay online later. 
                          Subsequently, you can also tap on the “Pay Now” button on the homepage or go to the order details page to make a payment. If you are facing a payment confirmation problem with your order, please note that online payment confirmations are completely dependent on the issuing bank. However, if the payable amount has been deducted from your account but shows as transaction failed, the amount will reflect in your account/wallet within 7-10 business days.</p>
                  </div>
                </div>
                <div>
                  <input type="radio" name="example_accordion" id="section15" class="accordion__input">
                  <label for="section15" class="accordion__label">When will I get my refund?</label>
                  <div class="accordion__content">
                        <p>Once the refund has been initiated, the refund amount is expected to reflect as per the payment method:
                          <br>
                          Cash on Delivery - Refund will be in Bank account (Within 24 hours) 
                          <br>
                          Online Payment via Credit / Debit Cards - Refund will be credited to the source (3 - 5 business days)
                          <br>
                          Bank Transfer - Refund will be in the updated Bank account (7 - 10 business days)
                          <br>
                          Net banking - Refund will be in Net Banking account (7 - 10 business days)
                          <br>
                          UPI - Refund will be in Net Banking account (5 - 7 business days)
                          <br>
                          PhonePe & other E-wallets - Refund will be in PhonePe & E-wallets (1 - 2 business days)
                          <br>
                          NEFT (Bank Refund) - Refund will be credited to your Bank Account (5 - 7 business days)</p>
                  </div>
                </div>
              
              </div>
            </div><br>
          </div>
          <br>
</div>