<app-header></app-header>
	<app-vaccinecard></app-vaccinecard>

<div class="guides">
	<div class="guide">
		<app-covidcard 
			title="HAND Sanitization" 
			desc="Sanitize hand in regular intervals"
			img="https://cdn.w600.comps.canstockphoto.com/virus-prevention-and-protection-use-drawing_csp79438196.jpg"></app-covidcard>
		<app-covidcard 
			title="Always wear mask"
			img="./../../../assets/images/mask.png"
			desc="Person should wear mask whenever going out"
		></app-covidcard>
		<app-covidcard 
			title="Maintain Social Distance"
			desc="Keep 2m Distance in publice spaces"
			img="https://cdn.w600.comps.canstockphoto.com/outdoor-social-distance-cartoon-man-illustration_csp84939326.jpg"
		></app-covidcard>
		<app-covidcard 
			title="Check Body Temperature"
			desc="Read body temperature on daily basis"
			img="./../../../assets/images/temp.png"
		></app-covidcard>
	</div>
</div>

<div class="whyus">
	<app-whyuscard></app-whyuscard>
</div>

<div class="counter">
	<app-coutercard></app-coutercard>
</div>

<div class="service">
	<div class="title">
		<h6>What we provide</h6>
		<h1>Our Services</h1></div>
	<div class="cards">
		<app-servicecard
			img="./../../../assets/images/Hematology.jpg"
			title="Hematology"
			desc="Highly trained healthcare providers who specialize in diseases of the
			blood and blood components. These include blood and bone marrow cells.
			Hematological tests can help diagnose anemia, infection, hemophilia, blood-clotting
			disorders, and leukemia."
		></app-servicecard>
		<app-servicecard
			title="Dermatology"
			desc="Dermatology is the science that is concerned with the diagnosis and treatment of diseases of the skin hair and nails"
			img="./../../../assets/images/dermatology.jpg"
		></app-servicecard>
		<app-servicecard
			title="Pyshiotherapy"
			img="./../../../assets/images/Pyshiotherapy.jpg"
			desc = "Physiotherapy helps restore movement and function when someone is
			affected by injury, illness or disability. Physiotherapists are experts in developing and maintaining
			peoples' ability to move and function throughout their lives."
		></app-servicecard>
	</div>
</div>

<div class="service">
	<div class="title">
	<h6>Custormer Testimonials</h6>
	<h1>What OUR Clients Say</h1></div>
	<div class="cards">
		<app-commentcard
		comment="They are a very helpful company they help me to alot to on my case from receiving tests and documents and get connected with the beat hospital and doctors who specialist on my case until they give me the final report for my case including all details about it from the way of treatment to the final cost"
		name="Ishan Sharma"
		></app-commentcard>
		<app-commentcard
		comment="We contacted Booking Health for my daughter's treatment, and the company has already helped us with the medical program and book appointments with the clinic. Thanks , for helping us with all the steps of the medical journey. All the best to the company"
		name="Maheshbabu"
		></app-commentcard>
		<app-commentcard
		comment="I have contacted booking health regarding the medicall assistance due to the past optic neuritus in both eyes. I was quickly replied back by one of the company employees Kavitha . J . She thoroughly and with great knowledge explained the services provided by the company.Great customer service!"
		name="Jajitha S"
		></app-commentcard>
	</div>
</div>
