*{
  display: flex;
  flex-direction: column;
}

.footer{
  position: relative;
}


.con1{
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  display: inline-block;
  justify-content: center;
}


.card{
  background-color: #fff;
  box-shadow: 0 10px 30px #0000000d;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}



@media(max-width: 767px){
  .con1{
    max-width: 50%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media(max-width: 574px){
    .con1{
  max-width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
.card{
  display: flex;
  flex-direction: column;
}
}



.guide{
    position: relative;
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    padding-bottom: 10px;
    flex: 1;
    flex-wrap: wrap;
}

.service .title{
    text-align: center;
}
.service .cards{
  position: relative;
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.whyus{
    padding-top: 20px;
    padding-bottom: 40px;
}

.counter{
    margin-top: -90px;
}