<div>
    <div >
        <div class="container"><div class=" text-center mt-5 ">
            <h1>CONTACT FORM</h1>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="card mx-auto bg-light">
                    <div class="card-body bg-light">
                        <div class="container">
                            <form id="contact-form" role="form">
                                <div class="controls">
                                    <div class="row" style="padding: 20px;">
                                        <div class="col-md-8">
                                            <div class="form-group"> <label for="form_name">Contact number(Primary) </label>
                                            <input id="form_name"  type="tel" name="contact1" class="form-control" placeholder="Primary Contact no" required="required" data-error="Contact number is required."> </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 20px;">
                                        <div class="col-md-8">
                                            <div class="form-group"> <label for="form_name">Contact number(Secondary) </label>
                                            <input id="form_name"  type="tel" name="contact" class="form-control" placeholder="Secondary Contact no" required="required" data-error="Contact number is required."> </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 20px;">
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="form_email">Email Id(Primary)</label> <input id="form_email"  type="email" name="email1" class="form-control" placeholder="Primary Email" required="required" data-error="Valid email is required."> </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 20px;">
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="form_email">Email Id(Secondary)</label> <input id="form_email"  type="email" name="email2" class="form-control" placeholder="Secondary Email" required="required" data-error="Valid email is required."> </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 20px;">
                                        <div class="col-md-12">
                                            <div class="form-group"> <label for="form_address">Address </label> <textarea id="form_address"  name="address" class="form-control" placeholder="Enter Your Address." rows="4" required="required" data-error="Re-type the Address."></textarea> </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-left: 75px; max-width: 250px;"> <input type="submit" class="btn btn-success btn-send btn-block " value="Submit"> </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- /.8 -->
            </div> <!-- /.row-->
        </div>
    </div>
     </div>
</div>