<div class="con1">
    <div class="card">
            <div class="image">
            <img src="./../../../assets/images/images.png">
            </div>
            <div class="content">
            <h2>Name of diseases</h2>
            <h6>Causes</h6>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, eum.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, eum.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, eum.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, eum.</li>
                </ul>
            </div>
            <div class="sym">
            <h3>Symptoms</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
            <a href="#">Learn More...</a>
            </div>
    </div>
</div>