.con1{
    background-color: azure;
    padding-top: 30px;
}
#name{
    cursor: default;
    font-size: 48px;
    font-weight: 500;
    font-family: cooper;
    margin-left: 50px;
    color: rgb(0, 119, 255);
    margin-top: 20px
  }

.r1 ,.r3, .con2, .r2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.r1{
    padding-bottom: 20px;
}


.r1 .heading{
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 50px;
}

.image img{
    width: 200px;
    align-self: center;
    border-radius: 15px;
    
}

.card{
    width: 250px;
    border-radius: 15px;
    border: none;
    background: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0px 15px;
}

.name{
    font-size: 22px;
    text-align: center;
    max-width: 150px;
}

.r3{
    padding: 60px 0px;
}

.profile button{
    background: transparent;
    border: 2px solid;
    padding: 10px 70px;
    font-size: 20px;
    border-radius: 20px;
    

}