<div class="con1">
    
    <div class="card">
        <div class="parts">
            <div id="part1">
                <div class="data">
                    <h1>Why choose MEDI-HUB?</h1>
                    <p>All services in one place- appointments, online consultation,finding the hospital and doctor according to your requirement.</p>
                </div>
                <div class="reasoncards">
                    <div class="logo">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="content">
                        <h4>Readily accessible contact and location</h4>
                        <p>The precise information of the doctor's speciality, appointments and Hospital's location,contact information are up to date.</p>
                    </div>
                </div>
                <div class="reasoncards">
                    <div class="logo">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="content">
                        <h4>Work made simple</h4>
                        <p>The Work of collecting doctor information and appointments booking is engineered to a single process with simple UI framework.</p>
                    </div>
                </div>
                <div class="reasoncards">
                    <div class="logo">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="content">
                        <h4>Ease to use</h4>
                        <p>Simple and neat UI with clear functions and highly responsive</p>
                    </div>
                </div>
            </div>
            <div id="part2">
                <img src="https://media.istockphoto.com/photos/together-we-save-more-lives-than-we-would-individually-picture-id1152347304?k=20&m=1152347304&s=612x612&w=0&h=Xlz-5Qw4RRCor_lp71rxJuK9iTcOKouLWZlk_2GDgEc=" id="img1">
                <img src="https://thumbs.dreamstime.com/b/group-hospital-doctors-over-health-care-clinic-background-89857953.jpg" id="img2" style="margin-left: 200px;">
            </div>
        </div>
    </div>
</div>