<div class="con1">
    
    <div class="card">
        <div class="parts">
            <div id="part1">
                <div class="data">
                    <h1>Why choose MEDI-HUB?</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sed ratione molestias deleniti culpa veritatis aspernatur voluptates similique at, minima recusandae asperiores animi eius modi!</p>
                </div>
                <div class="reasoncards">
                    <div class="logo">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="content">
                        <h4>Quality of the service</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores accusamus delectus cupiditate totam accusantium non ab at suscipit odit sed.</p>
                    </div>
                </div>
                <div class="reasoncards">
                    <div class="logo">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="content">
                        <h4>Quality of the service</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores accusamus delectus cupiditate totam accusantium non ab at suscipit odit sed.</p>
                    </div>
                </div>
            </div>
            <div id="part2">
                <img src="https://media.istockphoto.com/photos/together-we-save-more-lives-than-we-would-individually-picture-id1152347304?k=20&m=1152347304&s=612x612&w=0&h=Xlz-5Qw4RRCor_lp71rxJuK9iTcOKouLWZlk_2GDgEc=" id="img1">
                <img src="https://thumbs.dreamstime.com/b/group-hospital-doctors-over-health-care-clinic-background-89857953.jpg" id="img2">
            </div>
        </div>
    </div>
</div>