<div class="slider">
    <app-navbar class="navbar"></app-navbar>	
	<div class="slider-item">
		<img src="./../../../assets/images/home.jpg">
        <div class="carousel-caption">
			<h5>Patient Details for Appointment</h5>
			<p>Please Fill the appointment form given below with all required detials</p>
		</div>		
	</div>
</div>
<br>
<br>
<div class="con1">
    <div class="col-md-4 g-0">
        <div class="heading">
            <p>Your selected Hospital and Doctor</p>
        </div>
           <app-application-docto-hospital [docname]="doctorname" [docover]="doctoroverview" [docimg]="doctorimage" [hosname]="hospname" [hosphoto]="hospphoto" [hosadd]="hospaddress" ></app-application-docto-hospital>
    </div>
    <div class="col-md-8 g-0">
            <app-application-form [docreg]="docreg" [hospname]="hospname" ></app-application-form>
    </div>
</div>