.card{
    background-color: #fff;
    box-shadow: 0 10px 30px #0000000d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    width: 375px;
}

.card .icon img{
    height: 170px;
    border-radius: 50%;
}

.card .content{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
}

.card .content h3{
    font-weight: 900;
    font-size: 30px;
}

.card .content p{
    font-size: 15px;
}