<div class="con1">
<app-doctor-details-card [selected]="selector"></app-doctor-details-card>
<app-doctor-overview [details]="selector.doc_overview"></app-doctor-overview>
<app-doctor-location [url]="myurl"></app-doctor-location>
<app-doctor-contact [address]="selector.hosp_address" [email]="selector.hosp_mail" [phone]="selector.hosp_phone"></app-doctor-contact>
<div class="button">
    <button [routerLink]="['/appointment',selector.doc_name,selector.doc_overview,selector.doc_photo,selector.hosp_name,selector.hosp_photo,selector.hosp_address]">Book an Appointment</button>
</div>
</div>