<div class="faq">
    <div class="slider">
        <app-navbar class="navbar"></app-navbar>
                <div class="slider-item">
                    <img src="https://i.postimg.cc/Jn0X0pDS/1.jpg">
                    <div class="carousel-caption">
                        <h5>FAQ's</h5>
                        <p>Frequently asked question by customers</p>
                    </div>
                </div>
        </div>
        <div class="ques">
            <app-faq-ques></app-faq-ques>
        </div>
    
</div>