<div class="slider">
    <app-navbar class="navbar"></app-navbar>		
    <div class="slider-item">
        <img src="./../../../assets/images/home.jpg">
        <div class="carousel-caption">
            <h5>Doctors List</h5>
            <p>List of all doctors working in the Hospital</p>  
        </div>
    </div>
</div>
<div class="con1">
    <div class="col-md-5 g-0">
            <div *ngFor="let list of doctorList; let i = index" (click)="onclick(list,i)" [ngClass]="{'g2' : selectedind==i, 'g1': selectedind!=i}">
                <app-doctor-item [List_item]="list"></app-doctor-item>
            </div>
    </div>
    <div class="col-md-6 g-0 sideimg">
            <div *ngIf="value">
                <app-doctor-view [selector]="selected" [myurl]="urlSafe"></app-doctor-view>
            </div>
            
            <div class="img1" *ngIf="!value">
                <img src="./../../../assets/images/suggest1.png">
            </div> 
    </div>
</div>