
.navbar{
	height: 100px;
}

.slider-item {
	height: 50%;
	min-width: 100%;
	margin-top: -18px;
}

.slider-item img{
    height: 500px;
	width: 100%;
}

.carousel-caption {
    color: #000;
	height: fit-content;
	top: 250px;
	bottom: auto;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: merienda;
}
.carousel-caption p {
	width: 63%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
	font-family: poppins;
}

.carousel-caption #button{
    width: fit-content;
}

.carousel-caption a {
	text-transform: uppercase;
	background: #262626;
	padding: 10px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
}

.con1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 30px;
}
  
  .leftside{
      width: 100%;
      height: 100vh;
  }
  
  .rightside{
      width: 100%;
      height: 100vh;
  }
  
    .display-1,
    .display-2,
    h5 {
      font-weight: 700 !important;
    }
    
    @media (min-width: 1600px) {
      .display-1 {
        font-size: 10rem;
      }
    }
    
  
  @media  screen and (max-width:760px) {
      .leftside,.rightside{
          height: 50vh;
      }
      .rectimage{
          height: 25vh;
      }
  }


  #words{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 10px;
  }
  
  #heading{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
  }
  
  .card {
    margin-left: 10px;
    margin-right: 10px
  }
  
  body {
    font-family: 'Lato', sans-serif
  }
  
  h1 {
    margin-bottom: 40px
  }
  
  label {
    color: #333
  }
  
  input{
    min-width: 300px;
  }