<div class="con1">
    <div class="card">
        <div class="menu">
                <!--<a href="#" [routerLink]="['hu-pat-list',docreg]">Patients</a>-->
                <a href="#" [routerLink]="['hu-app-list',hospname,docreg]">Appointments</a>
                <a href="#" [routerLink]="['hu-detail-form',hospname,docreg]">Details</a>
                <a href="#" [routerLink]=" ['hu-contact-form',hospname,docreg]">Contact</a>
                <a href="#" [routerLink]="['hu-profile',hospname,docreg]">profile</a>
        </div>
    </div>
</div>