<app-navbar></app-navbar>
<br>
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="card card0 border-0">
      <div class="row d-flex">
          <div class="col-lg-6">
              <div class="card1 pb-5">
                  <div class="row"> <br><br><br> </div>
                  <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://image.freepik.com/free-vector/sign-concept-illustration_114360-5425.jpg" class="image"> </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="card2 card border-0 px-4 py-5">
                  <div class="row">
                      <h6 class="mb-0 mr-4 mt-2"><p><b><br>Create Account<br></b></p></h6>
                      <hr>
                      <div class="row px-3"> <label class="mb-1">
                          <h6 class="mb-0 text-sm">Username</h6>
                      </label> <input class="mb-4" #username type="text" name="username" placeholder="Enter a username"> </div>
                  <div class="row px-3"> <label class="mb-1">
                          <h6 class="mb-0 text-sm">Email Address</h6>
                      </label> <input class="mb-4" #email type="text" name="email" placeholder="Enter a valid email address"> </div>
                  <div class="row px-3"> <label class="mb-1">
                          <h6 class="mb-0 text-sm">Password</h6>
                      </label> <input class= "abc" #password type="password" name="password" placeholder="Enter password"> </div>
                      <div class="row px-3"> <label class="mb-1">
                          <h6 class="mb-0 text-sm">Re-type Password</h6>
                      </label> <input class= "abc" #repassword type="password" name="password" placeholder="Enter password again"> </div>
                  <br>
                      <div class="row">
                      <div> <input id="chk1" type="checkbox" name="chk" class="custom-control-input" > 
                        <label for="chk1" class="custom-control-label text-sm">Remember me</label> </div> <br>
                      <br>
                      
                  </div><br>
                  <div class="row mb-3 px-3"> <button type="submit" (click)="signup(username.value,email.value,password.value,repassword.value)" class="btn btn-blue text-center">Sign-up</button> </div>       
              </div>
          </div>
      </div>
