<div class="part1">
	<img src="./../../../assets/images/HosNear-logos_black.png">
	<h2>About us: MEDI-HUB</h2>
	<p>MEDI-HUB is an online portal for all your healthcare needs. Our team of medical experts are there for you in every step of the way, from finding the right doctor and hospital to booking appointments, from providing verified information to any kind of medical assistance in between. We provide 24x7 service all over the year. The service provided by us made users work simple and time efficient, We provide all in one place.</p>
</div>