
.part1{
	padding: 30px;
    
}

img{
	height: 200px;
	float: right;
}
.part1 h2{
    font-size: 42px;

}
.part1 p{
    margin-left: 20px;
    margin-right: 100px;
    padding-top: 20px;
    margin-right: 230px;
}