.con1{
    padding: 20px;
}

.card{
    background-color: #fff;
    box-shadow: 0 10px 30px #0000000d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 30px;
}

.image img{
    height: 300px;
    border-radius: 15px;
}

.title{
    font-size: 26px;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 15px;
}

.desc{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

.more{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 13px;
}