
.hospital{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(34, 126, 246, 0.267);
    border-radius: 25px;
    margin: 20px;
    /*box-shadow: 5px 5px rgba(0, 0, 0, 0.24);*/
}

.card-body{
    margin-left: 20px;
    margin-top: 10px;
}

.avatar{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    align-items: center;
}

.itemimage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}