.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(187, 255, 232, 0.1);
}

.box{
    width: 550px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 60px;
}

hr{
    width: 100%; 
}

.head{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: cursive;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
}

form{
    padding-left: 20px;
}

.input1{
    font-style: italic;
    padding-top: 15px;
}

input{
    width: 375px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: none;
    padding: 8px;
}

.forgot{
    text-align: right;
    font-size: small;
    padding-top: 5px;
}

.button1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}
.button1 button{
    width: 350px;
    background-color: rgba(99, 99, 255, 0.262);
    border-radius: 20px;
    padding: 10px;
}

.link{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    font-size: medium;
}

a{
    color: black;
}

img{
    opacity: 0.8;
}