<app-navbar></app-navbar>

<div class="con1">
  <div class="box1">
    <div class="img1">
      <img src="./../../../assets/images/login-img.svg" width="300px">
    </div>
    <div class="box">
      <div class="head">Sign-In</div>
      <hr size="5px">
      <div class="content">
        <form>
          <div class="input1">
            <label>EMAIL:</label><br>
            <input #email type="email">
          </div>
          <div class="input1">
            <label>Password:</label><br>
            <input #password type="password">
          </div>
          <div class="forgot">
            <a (click)="forgetpass(email.value)">Forgot Password</a>
          </div>
          <div class="button1">
            <button type="submit" (click)="login(email.value,password.value)">Login</button>
          </div>
        </form>
        <div class="link">
          Dont have an account<br><a href="#" routerLink="/signup">Register here</a>
        </div>
      </div>
    </div>
    <div class="img1">
      <img src="./../../../assets/images/login.jpg" width="300px">
    </div>
  </div>
</div>