<div>
      <nav>
         <label>MEDI-HUB</label>
         <ul>
           <li><a href="#" routerLink="/home">HOME</a></li>
           <li *ngIf="islogged"><a href="#" routerLink="/hospital">HOSPITAL</a></li>
           <li *ngIf="islogged"><a href="#" routerLink="/status">APPOINTMENTS</a></li>
           <li><a href="https://pharmify-b3dab.web.app/" >PHARMIFY</a></li>
           <li><a href="#" routerLink="/contact">CONTACT US</a></li>
           <li *ngIf="!islogged"><a href="#" routerLink="/signin">Log in</a></li>
           <li *ngIf="islogged">{{userCustomerId}}</li>
           <li *ngIf="islogged"><a (click)="signout()">SignOut</a></li>
        </ul>
     </nav>
</div>